h1{
    color: goldenrod;
    size: 50;
    
}

h2{
    color: #02389b;
}

body{
    background-color: #d8baba;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 0;
}
 
button{
    color:rgba(128, 128, 128, 0.801);
    background-color: #dd8eec;

}

label{
    width: 100%;
}
.navbar {
  width: 70%;
  text-align: center;
  color: green;
}
nav{
    width: 75%;
    vertical-align: middle;
    color:rgb(255, 255, 255);
    background-color: rgb(8, 27, 46);
    padding: 0;
    list-style: none;
    margin-top: 0;
}

.header{
    margin:  0px 0px 0px;
    width: 100%;
    display: fixed;
}


.header {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 0px;
    
  }
  
  li {
    display: inline;
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
   
  }
  
  .logo {
    padding-left: 0;
  }
  
  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }

  .menu li a{
    color: #ffff;
    padding-left: 60px;
    padding-right: 60px;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    
  }

  .menu li{
    display: inline-block;
    text-align: justify;

  }

  .menu li a:hover{
    background-color: #ff783d;
    color: rgb(80, 70, 70);
  }


.header{
  background-color: rgb(8, 27, 46);
  display: inline-block;
}


  
