.carousel-inner img{
  height: 650px;
}
.carrousel-inner{
  height: 650px;
  position: none;
  position: relative;
}

.sign a{
  text-decoration: none;
}
  

body{
    background-color: #ffffff;
    background-color: #c7bdbd; 
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px;
}
 
button{
    color:rgba(255, 255, 255, 0.801);
    background-color: #ff9900;
    font-size: 15px;
    
}

label{
    width: 100%;
}


/* nav{
    width: 70%;
    vertical-align: middle;
    color:rgb(31, 27, 27);
    background-color: rgb(240, 241, 243);
    padding: 0;
    list-style: none;
   
} */

.header{
  width: 100%;
  display: fixed;
}


.header {
  
  line-height: 0px;
  
}

li{
  display: inline;
 
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  
}


  .logo {
    padding-left: 15px;
    padding-top: 15px;
    
  }
  
  .actions {
    width: 15%;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
   
  }

  /* .navbar li a{
    color: #ffff;
    padding-left: 60px;
    padding-right: 60px;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    font-size: 20px;
    
  }

  .navbar li{
    display: inline-block;
    text-align: center;

  }

  .navbar li a:hover{
    background-color: #ff783d;
    color: rgb(80, 70, 70);
  } */

.header{
    background-color: rgb(8, 27, 46);
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    display:fixed;
   
  }
  
.con{
  flex-direction: row;
  justify-content: center;
}

.texto h3{
  color: #025157;
  
}
  
.texto p{
  color: #343434;
  
}

.promo{
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
  
}

.exp video{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exp video img{
  width: 120px;
  margin-top: 10px;
  flex-direction: column;
}

.texto{
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 0%;
 }
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.greenflex{
  display: flex;
  background-color: #a1d683;
  padding-left: 8%;
  padding-right: 15%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.greenspace{
  
  padding-right: 30%;
  font-size: 20px;
  
}
.greenspace h1{
  color: rgb(10, 107, 1);;
}
.greenspace button{
  background-color: rgb(10, 107, 1);
  padding: 10px;
  border-style: solid;
  border-radius: 30px;
  padding-left: 45px;
  padding-right: 45px;
}

.whitespace{
  
  background-color: #ffffff;
  margin: auto;
  padding-bottom: 10px;
  
  border-style: hidden;
  border-radius: 15px;
}

.mickey img{
  width: 100%;
  
}
.grayspace img{
  width: 10% ;
  padding-right: 15px ;
  aspect-ratio: 1;
  padding-left: 10px;
  height: 10%;
}
.grayspace{
  display: flex;
  align-items: center;
}
.grayspace p{
  font-size: 13px;
  color: #8d8787;
}
.whitespace button{
  background-color: rgb(10, 107, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-radius: 30px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 5px;
}
.p1{
  color: rgb(10, 107, 1);
  font-size: 16px;
  padding-left: 5%;
  font-family: Arial, Helvetica, sans-serif;
  
}

.p2{
  font-family: Arial, Helvetica, sans-serif;
  padding-left:5%;
  padding-right: 5%;
}
.circulo{
  width: 35%;
  left: -5%;
  height: 70px;
  top: -50px;
  position: relative;
  float: right;
  background-color: #dbb23f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circulo img{
  width: 65%;
  height: 40%;

}

.features{
  display:grid;
  /*grid-template-columns: 300px 300px;*/
  /*grid-template-columns: 500px 1fr;*/
  /*grid-template-columns: 1fr 1fr;*/
  grid-template-columns: repeat(2, 1fr);
  height: 900px;
  grid-template-rows: repeat(2, 400px);
  padding: 5% 5%;
  background-color: #025157;
  grid-template: repeat(2, 400px) / repeat(2, 1fr);
}



.contenido{
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.texto{
  margin-top: 30px;
  margin-left: 20px;
  
  padding: 30px 20px 40px 40px;
  flex: 2;
  
}

.texto > *{
  margin-bottom: 1rem;
  margin-top: 10px;
 
  
}

.texto img{
  width: 50px;
}

.texto h3{
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.texto p{
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.texto a{
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
  width:500px;
}

.feature-img{
  flex: 1;
  width: 30%;
  
  position: relative;
  right: -50px;
  height: 80%;
}

.features .contenido .feature-image figure,
.features .contenido .feature-image img {
  margin-top: 0;
  height: 100%;
}

.feature-image img{
  width:250px;
  padding-left: 30%;
}

.lolol{
  background-color: rgb(231, 235, 179);
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-template-rows: repeat(1,auto);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}
.measure img{
  display: inline;
}
.wok{
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.little img{
  width: 30px;
}

.big img{
  width: 120px;
}

.lolol h1{
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.measure figure img{
  display:inline-flex;
}

.measure{
  background-color: #fff;
  height: 100%;
  border-radius: 3%;
  padding: 10px;
}



/* .promote{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  background-color: white;
}

.measure{
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
} */

/** dispositivos móviles en vista viewport (vertical) */
/* @media (max-width: 575px) {
  body{
    background-color: #4daa22;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 0;
   }
  .menu{
    display: none;
    
  }
  h1 {
    font-size: 30px;
    margin-top: 100px;
  }
  .header{
    display: inline-flex;
  }
  .publi > form {
    flex-direction: column;
  }

  .publi > form > div {
    height: 60px;
    margin-top: 10px;
  }

  .publi > form > div > input {
    width: 100%;
  }
  .promo{
    flex-direction: column;
    max-width: 80%;
  }
  .exp>video{
    width: 100%;
  }
  .features {
    grid-template: repeat(4, 1fr) / 1fr;
    padding-left: 0;
    padding-right: 0;

  }
  
  .feature-image {
    display: none;
  }
  .texto figure img{
   padding: 15px;
  }
}
   */



/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}